GLM_API_KEY=your_api_key_here
EPAY_PID=your_epay_pid
EPAY_KEY=your_epay_key
EPAY_API_URL=https://pay.example.com/submit.php

XF_APPID=your_xfyun_appid
XF_APIKEY=your_xfyun_apikey
XF_APISECRET=your_xfyun_apisecret

BAIDU_API_KEY=3sqIQn0UnSnN7Y9xlrEQZan9
BAIDU_SECRET_KEY=hkeP4mfFyizZD83YBPdu1WQPynHDQ4Lk